/*
* -----------------------------------
* Hub3c FormBuilder CSS style - v 0.1
* -----------------------------------
* Extends: 
*  - Bootstrap CSS v4.alpha 5
*  - hub4c.css
*
* Still under a heavy development and the man who wrote
* this crap is bad at CSS. Use only if your balls is big enough.
* You have been warned, biotch!!!
*/

/* Datatypes */
@import '/css/hub3c-basic-fields.css';
@import '/css/hub3c-advanced-fields.css';

body {
    /*min-height: 75rem;*/
    padding-top: 4.5rem;
    padding-right: 0px !important; /* So main window won't get resized on modal show */
    background-color: #edf1f4;
}

.modal-open {
  overflow-y: auto; /* Fix annoying resize on modal show. */
}

/*
* Navbar
*/

.nav-shadow {
    -webkit-box-shadow: 3px 3px 3px #ccc;
    -moz-box-shadow:    3px 3px 3px #ccc;
    box-shadow:         0px 3px 3px #ccc;
    z-index:999;
}
.navbar-light .navbar-nav .nav-link {
    color: #2f373d;
    font-weight: bold;
}
.bg-white {
    background: #fff;
}
.navbar-nav {
    margin-bottom: -9px;
}
.navbar-nav > li {
    padding-left: 20px;
}
.navbar-nav .nav-item li {
    border-bottom: 4px solid transparent;
}
nav .navbar-nav li a:hover,
.navbar-nav .nav-item .nav-link.active {
    background-color: #fff;
    color: #1cb7f1;
    border-bottom: 4px solid #1cb7f1;
}

/*
* Text styles/typos
*/

.nav-link small {
    color: #ffca73;
    font-weight: bold;
}

/*
* Sidebar
*/

/* In FF, z-index did have impact. Not in Chrome. */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    right: 0;
    width: 350px;
    background: #fff;
    /*z-index: 9999;*/
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-left: 1px solid #cfcfcf;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/* Undo redo */

.fb-undo-redo-block {
    padding-left: 20px;
    padding-bottom: 15px;
    margin-top: -5px;
    margin-bottom: 20px;
    border-bottom:1px solid #cfcfcf;
}

.fb-undo-redo-block .undo i{
    padding-right: 5px;
}

.fb-undo-redo-block .redo i{
    padding-left: 5px;
}

.fb-undo-redo-block .redo {
    margin-left: 5px;
}

.fb-undo-redo-block .undo:hover{
    border: 1px solid #1cb7f1;
}

.fb-undo-redo-block .redo:hover{
    border: 1px solid #1cb7f1;
}

/* Sidebar item - form controls */

.fb-deck-title {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1.5px solid #cfcfcf;
    margin-bottom: 15px;
}

.fb-control-deck {
    padding-left: 20px;
    padding-bottom: 15px;
}

.fb-control-deck .form-element {
    padding-bottom: 10px;
}

.fb-control-deck .row. .col {
    /*position: absolute;*/
    /*z-index: 9999;*/
}

.fb-control-deck span:nth-child(2) {
    padding-right: 20px;
}

.toolbox {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}

.toolbox .form-element {
    flex-grow: 1;
}

/* When hovering over a block, the elem tends to 'move'
 * and that's just ugly af. better use 'border-box' 
 */
.fb-control-deck .form-element div {
    font-size: 14px;
    width: 150px;

    /*display: inline-block;*/
    padding: 4px 8px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    cursor: default;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border: solid transparent 1px;    
}

.fb-control-deck .form-element div:hover {
    background-color: #edf1f4;
    border-color: #c6c6c6;
    background-image: url('/icons/glyph-forms-cursor-drag.png');
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

.fb-control-deck .row .col i {
    color: #8c969d;
    padding-right: 10px;
}

/* When dragged */

.ui-draggable-dragging span:before {
    content:'';
}

.ui-draggable-dragging span:after {
    content:'';
}

.ui-draggable-dragging {
    content:'';
    width: 10%;
    color: white;
    background: white;
    max-width: 150px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px dashed #cecece;
    display: inline-block;
    padding: 4px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Dropzone */

.dropzone {
    clear: both;
    margin: 0px;
    padding: 0px;
}

.dropzone-highlight {
    margin-top: 4px;
    height: 80px;
    border: 1px #c0c0c0 dashed;
}

.dropzone-hover {
    height: 100px;
    border: 1px #c0c0c0 dashed;
    background-color: #eee;
}

.modal-header {
    background-color: #f5f5f5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.ui-hover-state {
    position: absolute;
    background-color: #aaa !important;
    opacity: 0.1 !important;
    /*z-index: 901;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #8c969d;
}

.field-button-group button{
    margin-left: 8px;
    font-size: 14px;
}

.dashed {
    /*border: 1px #ccc dashed;*/
    padding: 10px;
}

/* Round buttons for field setting. */

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

/* Confirmation bar */
.confirmation {
    background: #fff;
}

.confirmation .row {
    height: 58px;
    border-bottom: 1px solid #cfcfcf;
    margin-top: -20px;
    padding: 12px;
}

.confirmation span {
    margin-top: -20px;
    padding: 12px;
}

.confirmation button {
    color: #fff;
}
