/* Submission list CSS
* After testing we can pack and minify this CSS with our main style
*/
.submission-list-container {
    color:;
    background: #fff;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #cecece;
}

.submission-list-container .card-block{
    border-top: 1px solid #cecece;
}

#toolbar .row, #toolbar .row input {
    font-size: 14px;
}

#toolbar .custom-select, #toolbar #searchSubmission {
    font-size: 12px;
}

#toolbar .toolbar-menu {
    margin-left: 10px;
}

#toolbar .toolbar-menu span {
    margin-right: 5px;
}

#dataoptions .row {
    font-size: 14px;
}

.submission-list-container .card-block .action-icon{
    padding-left: 4px;
}

.bootstrap-table .fixed-table-container {
    border: 0px !important;
}

.left-inner-icon {
    position: relative;
}
.left-inner-icon input {
    padding-left: 40px;
}
.left-inner-icon i {
    position: absolute;
    padding: 9px 12px;
    pointer-events: none;
}

.typo {
    font-size: 14px;
    color: #c4c9cc;
}

.light {
    color: #47555e;
}

.bold {
    font-weight: bold;
}

/* Submission list - table */

#table, #table-card {
    font-size: 14px;
}

#table thead {
    background-color: #edf1f4;
}

#table a {
    font-weight: bold;
}

.fixed-table-pagination .pagination-info {
    margin-top: 2px;
    margin-left: 20px !important;
    font-size: 14px;
}

.fixed-table-pagination .page-list {
    font-size: 14px;
}

.search {
    padding-right: 20px;
}

.search input {
    font-size: 14px;
}

.search input:before{
    content:'HOLA';
}

.pagination {
    padding-left: 100px;
    padding-top: 3px;
    font-size: 14px;
    font-weight: bold;
}

/* Card view */

#table-card tbody tr{
    background: #fff;
}

#table-card tbody {
    padding: 0px !important;
}

#table-card .card-view {
    padding: 10px;
}
