/*
* -----------------------------------
* Hub3c FormBuilder CSS style - v 0.1
* -----------------------------------
* Extends: 
*  - Bootstrap CSS v4.alpha 5
*  - hub4c.css
*
* Still under a heavy development and the man who wrote
* this crap is bad at CSS. Use only if your balls is big enough.
* You have been warned, biotch!!!
*/

body {
    min-height: 75rem;
    padding-top: 4.5rem;
    background-color: #edf1f4;
}

/*
* Navbar
*/

.nav-shadow {
    -webkit-box-shadow: 3px 3px 3px #ccc;
    -moz-box-shadow:    3px 3px 3px #ccc;
    box-shadow:         0px 3px 3px #ccc;
    z-index:999;
}
.navbar-light .navbar-nav .nav-link {
    color: #2f373d;
    font-weight: bold;
}
.bg-white {
    background: #fff;
}
.navbar-nav {
    margin-bottom: -9px;
}
.navbar-nav > li {
    padding-left: 20px;
}
.navbar-nav .nav-item li {
    border-bottom: 4px solid transparent;
}
nav .navbar-nav li a:hover,
.navbar-nav .nav-item .nav-link.active {
    background-color: #fff;
    color: #1cb7f1;
    border-bottom: 4px solid #1cb7f1;
}

/*
* Text styles/typos
*/

.nav-link small {
    color: #ffca73;
    font-weight: bold;
}

/*
* Sidebar
*/

/* In FF, z-index did have impact. Not in Chrome. */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    right: 0;
    width: 350px;
    background: #fff;
    /*z-index: 9999;*/
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-left: 1px solid #cfcfcf;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/* Undo redo */

.fb-undo-redo-block {
    padding-left: 20px;
    padding-bottom: 15px;
    margin-top: -5px;
    margin-bottom: 20px;
    border-bottom:1px solid #cfcfcf;
}

.fb-undo-redo-block .undo i{
    padding-right: 5px;
}

.fb-undo-redo-block .redo i{
    padding-left: 5px;
}

.fb-undo-redo-block .redo {
    margin-left: 5px;
}

/* Sidebar item - form controls */

.fb-deck-title {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1.5px solid #cfcfcf;
    margin-bottom: 15px;
}

.fb-control-deck {
    padding-left: 20px;
    padding-bottom: 5px;
}

.fb-control-deck .row {
    padding-bottom: 10px;
}

.fb-control-deck .row. .col {
    /*position: absolute;*/
    /*z-index: 9999;*/
}

.fb-control-deck .row .col:nth-child(2) {
    padding-right: 20px;
}

/* When hovering over a block, the elem tends to 'move'
 * and that's just ugly af. better use 'border-box' 
 */
.fb-control-deck .row .col span {
    font-size: 14px;
    width: 100%;

    max-width: auto !important;
    display: inline-block;
    padding: 4px 8px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    cursor: default;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border: solid transparent 1px;    
}

.fb-control-deck .row .col span:hover {
    background-color: #edf1f4;
    border-color: #c6c6c6;
    /*background-image: url('http://www.nfpa.org/~/media/Images/icons/arrow_icon_blue_4x9.gif');*/
    background-image: url('/icons/glyph-forms-cursor-drag.png');
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

.fb-control-deck .row .col i {
    color: #8c969d;
    padding-right: 10px;
}

/* When dragged */

.ui-draggable-dragging {
    width: 10%;
    color: white;
    background: white;
    max-width: 150px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px dashed #cecece;
    display: inline-block;
    padding: 4px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Dropzone */

/* This will fail in Chrome. */
.fb-dropzone {
    width: 100%;
    height: 500px;
    background: #edf1f4;
}

.fb-dropzone-hover {
    background: #c2d0da;
}

.fb-dropzone-dashed {
    border: 2px dashed #eee;
}
