/* Datatypes */

/* Short answer */
.element-data-type-text:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e91f";
    padding-right: 10px;
}
.element-data-type-text:after
{
    /*color: #8c969d;*/
    content: "Short Answer";
}

/* Long answer */
.element-data-type-textarea:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e91e";
    padding-right: 10px;
}
.element-data-type-textarea:after
{
    /*color: #8c969d;*/
    content: "Long Answer";
}

/* Checkbox */
.element-data-type-checkbox:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\ea52";
    padding-right: 10px;
}
.element-data-type-checkbox:after
{
    /*color: #8c969d;*/
    content: "Checkbox";
}

/* Radio */
.element-data-type-radio:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\ea54";
    padding-right: 10px;
}
.element-data-type-radio:after
{
    content: "Radio Button";
}

/* Select */
.element-data-type-select:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e91c";
    padding-right: 10px;
}
.element-data-type-select:after
{
    content: "Dropdown List";
}

/* Number */
.element-data-type-number:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e91d";
    padding-right: 10px;
}
.element-data-type-number:after
{
    content: "Number";
}

/* Name -------- */
.element-data-type-any:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e971";
    padding-right: 10px;
}
.element-data-type-any:after
{
    content: "Name";
}

/* Email */
.element-data-type-email:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e928";
    padding-right: 10px;
}
.element-data-type-email:after
{
    content: "Email Address";
}

/* Phone */
.element-data-type-phone:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e942";
    padding-right: 10px;
}
.element-data-type-phone:after
{
    content: "Phone Number";
}

/* Address */
.element-data-type-address:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e947";
    padding-right: 10px;
}
.element-data-type-address:after
{
    content: "Address";
}

/* Date/Time */
.element-data-type-datetime:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e926";
    padding-right: 10px;
}
.element-data-type-datetime:after
{
    content: "Date & Time";
}

/* Date/Event */
.element-data-type-date:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e925";
    padding-right: 10px;
}
.element-data-type-date:after
{
    content: "Date";
}
