/* this will override bootstrap color */
.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}
.def-padding {
  padding: 15px !important;
}
@font-face {
  font-family: "SourceSansPro Light";
  src: url('fonts/SourceSansPro-Light.eot?1434349792');
  src: url('fonts/SourceSansPro-Light.eot?&1434349792#iefix') format('embedded-opentype'), url('fonts/SourceSansPro-Light.ttf?1434349792') format('truetype'), url('fonts/SourceSansPro-Light.woff?1434349792') format('woff'), url('fonts/SourceSansPro-Light.svg?1434349792') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro Regular";
  src: url('fonts/SourceSansPro-Regular.eot?1434349794');
  src: url('fonts/SourceSansPro-Regular.eot?&1434349794#iefix') format('embedded-opentype'), url('fonts/SourceSansPro-Regular.ttf?1434349794') format('truetype'), url('fonts/SourceSansPro-Regular.woff?1434349794') format('woff'), url('fonts/SourceSansPro-Regular.svg?1434349794') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro Bold";
  src: url('fonts/SourceSansPro-Bold.eot?1434349808');
  src: url('fonts/SourceSansPro-Bold.eot?&1434349808#iefix') format('embedded-opentype'), url('fonts/SourceSansPro-Bold.ttf?1434349808') format('truetype'), url('fonts/SourceSansPro-Bold.woff?1434349808') format('woff'), url('fonts/SourceSansPro-Bold.svg?1434349808') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Hub3C';
  src: url("fonts/hub3c.eot?-hev504");
  src: url("fonts/hub3c.eot?#iefix-hev504") format("embedded-opentype"), url("fonts/hub3c.ttf?-hev504") format("truetype"), url("fonts/hub3c.woff?-hev504") format("woff"), url("fonts/hub3c.svg?-hev504#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="hub3c-"],
[class*=" hub3c-"] {
  font-family: 'Hub3C';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button,
body {
  font-family: "SourceSansPro Regular", sans-serif;
}
h1,
h2,
h3 {
  font-family: "SourceSansPro Light", sans-serif;
}
.Cube {
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  text-align: center !important;
  font-size: 20px !important;
  -webkit-transform-style: preserve-3d !important;
  transform-style: preserve-3d !important;
  -webkit-transition: -webkit-transform 0.5s 0.1s !important;
  transition: transform 0.5s 0.1s !important;
  perspective: 9999px !important;
  color: #333 !important;
  margin: -20px 0 0 -20px !important;
  margin: 0 auto !important;
  position: absolute !important;
  left: 50% !important;
  margin-left: -37px !important;
  top: 65px !important;
  opacity: 1 !important;
  z-index: 10001;
}
.overlay {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 100%;
  z-index: 16777271;
  overflow: no-content;
}
.panelLoad {
  z-index: 1002;
  margin-left: -20px !important;
  margin-top: -35px !important;
  -webkit-animation: panel 2.2s infinite forwards !important;
  animation: panel 2.2s infinite forwards !important;
}
.panel-cube {
  margin: -20px 0 0 -20px !important;
  margin: 0 auto !important;
  position: absolute !important;
  left: 40vw !important;
  margin-left: -63px !important;
  top: 20vw !important;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}
.cube-face {
  color: black;
  box-shadow: inset 0 0 0 1px #111, 0 0 1px 1px #111;
}
.cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  background: white;
  box-shadow: inset 0 0 0 1px #333, 0 0 1px 1px #333;
  opacity: 1;
}
.cube-face-front {
  transform: translate3d(0, 0, 20px);
  -webkit-transform: translate3d(0, 0, 20px);
}
.cube-face-back {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 20px);
  transform: rotateY(180deg) translate3d(0, 0, 20px);
}
.cube-face-left {
  -webkit-transform: rotateY(-90deg) translate3d(0, 0, 20px);
  transform: rotateY(-90deg) translate3d(0, 0, 20px);
}
.cube-face-right {
  -webkit-transform: rotateY(90deg) translate3d(0, 0, 20px);
  transform: rotateY(90deg) translate3d(0, 0, 20px);
}
.cube-face-top {
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 20px);
  transform: rotateX(90deg) translate3d(0, 0, 20px);
}
.cube-face-bottom {
  -webkit-transform: rotateX(-90deg) translate3d(0, 0, 20px);
  transform: rotateX(-90deg) translate3d(0, 0, 20px);
}
@-webkit-keyframes panel {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
  }
  40% {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
  }
  60% {
    -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateX(310deg) rotateZ(230deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateZ(360deg);
  }
}
@keyframes panel {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
    transform: rotateY(90deg) rotateZ(0deg);
  }
  40% {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
    transform: rotateX(45deg) rotateZ(45deg);
  }
  60% {
    -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
    transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateX(310deg) rotateZ(230deg);
    transform: rotateX(310deg) rotateZ(230deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateZ(360deg);
  }
}
.bounce {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
  animation: bounce 2s .5s;
}
@keyframes bounce {
  0% {
    transform: scale(0.1);
    opacity: .7;
  }
  5% {
    transform: scale(0.2);
    opacity: .8;
  }
  10% {
    transform: scale(0.3);
    opacity: .8;
  }
  15% {
    transform: scale(0.4);
    opacity: .8;
  }
  20% {
    transform: scale(0.5);
    opacity: .8;
  }
  25% {
    transform: scale(0.6);
    opacity: .8;
  }
  30% {
    transform: scale(0.7);
    opacity: .9;
  }
  35% {
    transform: scale(0.8);
    opacity: .9;
  }
  40% {
    transform: scale(0.9);
    opacity: 1;
  }
  45% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: .7;
  }
  55% {
    transform: scale(1.4);
    opacity: 1;
  }
  60% {
    transform: scale(1.6);
    opacity: 1;
  }
  70% {
    transform: scale(1.3);
    opacity: 1;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}
.autohide {
  -moz-animation: cssHide 0s ease-in 3s forwards;
  /* Firefox */
  -webkit-animation: cssHide 0s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssHide 0s ease-in 3s forwards;
  /* Opera */
  animation: cssHide 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssHide {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes cssHide {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
.transition {
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  height: 60px;
}
header {
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  display: flex;
}
header.header-blue {
  background: #0cb1f3;
}
header.header-green {
  background: #84bf38;
}
header .header-brand {
  padding: 15px !important;
  width: 220px;
  color: #48565f;
  font-family: "SourceSansPro Regular", sans-serif;
  font-size: calc(30px);
  line-height: calc(30px);
  display: inline-flex;
}
header .header-brand a {
  color: inherit;
}
header .header-search {
  display: inline-flex;
  height: 60px;
  margin: 0px !important;
  padding: 0px !important;
}
header .header-search .search-input {
  float: left;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  height: 60px;
  font-size: 1.25em;
  background: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  color: #48565f;
  width: calc(100% - 60px);
}
header .header-search .search-input:-moz-placeholder,
header .header-search .search-input::-moz-placeholder,
header .header-search .search-input:-ms-input-placeholder,
header .header-search .search-input::-webkit-input-placeholder {
  color: #076a92;
}
header .header-search .search-input:active,
header .header-search .search-input:focus {
  outline: none;
  background: #ffffff;
}
header .header-search .search-submit {
  float: left;
  margin: 0px !important;
  padding: 0px !important;
  background: #0cb1f3;
  text-align: center;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  color: #48565f;
  width: 60px;
  height: 60px;
  border: none;
  opacity: .9;
}
header .header-search .search-submit i {
  font-size: 1.25em;
  line-height: 60px;
  color: #48565f;
}
header .header-search .search-submit:hover {
  opacity: 1;
}
header .header-menu {
  display: inline-flex;
  float: right;
  margin-left: auto !important;
}
header .header-menu .menu-item {
  float: left;
  width: 60px;
  height: 60px;
  background: #0cb1f3;
  color: #48565f;
  font-size: calc(30px);
  line-height: calc(30px);
  text-align: center;
  list-style-type: none;
  padding: 15px !important;
  cursor: pointer;
  opacity: .9;
}
header .header-menu .menu-item a {
  color: inherit;
}
header .header-menu .menu-item:hover {
  opacity: 1;
}
.mobile-search {
  display: none;
}
.page-wrapper {
  background: #ecf0f1;
  min-height: 100%;
  padding-top: 60px;
}
.page-wrapper:before,
.page-wrapper:after {
  content: " ";
  display: table;
}
.page-wrapper:after {
  clear: both;
}
.content-wrapper {
  margin-left: 220px;
  padding: 1.5em;
}
.content-wrapper:before,
.content-wrapper:after {
  content: " ";
  display: table;
}
.content-wrapper:after {
  clear: both;
}
.content-wrapper hr {
  border-top: 1px solid #dde4e6;
}
.main-notifications {
  cursor: pointer;
}
.main-notifications .notification {
  height: 215px;
  margin-bottom: 1em;
}
.main-notifications .notification-content li a {
  color: #ffffff;
}
.notification-inner,
.widget-inner {
  height: 100%;
  padding: 1em;
}
.notification-inner.panel,
.widget-inner.panel {
  border-radius: 0;
}
.notification-header,
.widget-header {
  margin: 0;
}
.main-notifications .notification {
  color: #ffffff;
}
.main-notifications .notification .messages {
  background: #0a8ec2;
}
.main-notifications .notification .bulletin {
  background: #84bf38;
}
.main-notifications .notification .tasks {
  background: #e74c3c;
}
.main-notifications .notification .connections {
  background: #f39c12;
}
.main-notifications .notification-header {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(11, 11, 11, 0.2);
}
.main-notifications .notification-content {
  padding: 1em 0;
}
.main-notifications .notification-content ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.main-notifications .notification-content li {
  font-size: 1.125em;
}
.main-notifications .notification-content li span {
  font-size: 1.5em;
  display: inline-block;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.2;
  margin-top: -5px;
  font-family: "SourceSansPro Bold", sans-serif;
}
.main-notifications .notification-content li.add-email {
  padding: 5px 0;
  margin-top: 5px;
}
.main-notifications .notification-content li.add-email a {
  color: #ffffff;
}
.main-notifications .notification-content li.add-email span {
  font-size: 1.125em;
  margin-top: 0;
  font-family: 'FontAwesome';
}
.main-notifications .notification-inner {
  position: relative;
}
.main-notifications .notification-inner::before {
  position: absolute;
  top: 15px;
  right: 18px;
  font-family: 'FontAwesome';
  color: #ffffff;
  font-size: 1.5em;
}
.main-notifications .notification-inner.messages::before {
  content: "\f003";
}
.main-notifications .notification-inner.bulletin::before {
  content: "\f1ea";
}
.main-notifications .notification-inner.tasks::before {
  content: "\f0ae";
}
.main-notifications .notification-inner.connections::before {
  content: "\f1e0";
}
.statuses-feed {
  position: relative;
}
.statuses-feed .user-status {
  margin-left: 0;
  margin-bottom: 10px;
}
.statuses-feed .user-status:before,
.statuses-feed .user-status:after {
  content: " ";
  display: table;
}
.statuses-feed .user-status:after {
  clear: both;
}
.statuses-feed .user-status .user-avatar {
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 1em;
  clear: both;
}
.statuses-feed .user-status .user-avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.statuses-feed::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  left: 20px;
  z-index: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzBjYjFmMyIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzBjYjFmMyIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(12, 177, 243, 0.3)), color-stop(80%, rgba(12, 177, 243, 0.3)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(12, 177, 243, 0.3) 20%, rgba(12, 177, 243, 0.3) 80%, rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(12, 177, 243, 0.3) 20%, rgba(12, 177, 243, 0.3) 80%, rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(12, 177, 243, 0.3) 20%, rgba(12, 177, 243, 0.3) 80%, rgba(0, 0, 0, 0));
}
.statuses-feed .user-status {
  position: relative;
  border-radius: 4px;
}
.statuses-feed .user-status::before {
  display: block;
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #0a8ec2;
  left: 15px;
}
.statuses-feed .status-container {
  position: relative;
  margin-left: 40px;
  padding: 10px;
  background: #f3f6f6;
  border-radius: 4px;
}
.statuses-feed .status-container:before,
.statuses-feed .status-container:after {
  content: " ";
  display: table;
}
.statuses-feed .status-container:after {
  clear: both;
}
.statuses-feed .status-container .status-content {
  padding: 5px;
  float: left;
}
.statuses-feed .status-container .status-content p {
  font-size: 1.125em;
  margin-bottom: 0;
}
.statuses-feed .status-container .status-content p.status-meta {
  font-size: 0.875em;
  color: #5a6b76;
}
.statuses-feed .status-container::before {
  display: block;
  position: absolute;
  content: '';
  height: 0;
  top: 0;
  bottom: 0;
  left: -10px;
  margin: auto;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f3f6f6;
}
.schedule-widget .schedule-list {
  margin-left: 0;
  padding-left: 0;
}
.schedule-widget .widget-header {
  position: relative;
}
.schedule-widget .widget-header h2 {
  margin: 0;
  display: inline-block;
  float: left;
}
.schedule-widget .widget-header .btn-group {
  float: right;
}
.schedule-widget .schedule-header h3 {
  margin-top: 0;
}
.box {
  width: 100px;
  height: 100px;
}
.box-blueLight {
  background: #6dd1f8;
  border: 1px solid #48565f;
}
.box-blue {
  background: #0cb1f3;
  border: 1px solid #48565f;
}
.box-blueDark {
  background: #076a92;
  border: 1px solid #48565f;
}
.box-greenLight {
  background: #aad671;
  border: 1px solid #48565f;
}
.box-green {
  background: #84bf38;
  border: 1px solid #48565f;
}
.box-greenDark {
  background: #6d9e2e;
  border: 1px solid #48565f;
}
.box-primary {
  background: #0a8ec2;
  border: 1px solid #48565f;
}
.box-danger {
  background: #f74040;
  border: 1px solid #48565f;
}
.box-warning {
  background: #f1c40f;
  border: 1px solid #48565f;
}
.box-success {
  background: #5cb85c;
  border: 1px solid #48565f;
}
.box-greyLight {
  background: rgba(54, 65, 72, 0.25);
  border: 1px solid #48565f;
}
.box-grey {
  background: #48565f;
  border: 1px solid #48565f;
}
.box-greyDark {
  background: #364148;
  border: 1px solid #48565f;
}
.box-white {
  background: #ffffff;
  border: 1px solid #48565f;
}
.box-black {
  background: #000;
  border: 1px solid #48565f;
}
/*@import "partial/nav.less";
@import "partial/button.less";
@import "partial/form.less";*/
* {
  box-sizing: border-box;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nicescroll-rails-hr {
  display: none !important;
}
html,
body {
  min-height: 100%;
  height: 100%;
  position: relative;
}
html {
  width: 100%;
}
a {
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}
input:active,
input:focus {
  outline: none;
}
.navbar {
  min-height: auto;
}
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:active,
.nav > li > ul > li > a:hover,
.nav > li > ul > li > a:focus,
.nav > li > ul > li > a:active {
  background: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
}
ul.dropdown-menu {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.ghost {
  opacity: 0.4;
  filter: alpha(opacity=40);
  border: 1px dashed #5a6b76;
}
.dragging {
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.drag-place-holder {
  height: 0px !important;
  overflow: hidden;
  border-bottom: 2px solid #0CB1F3;
}
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
.flipper {
  -webkit-transition: 0.6s all ease-in-out;
  -o-transition: 0.6s all ease-in-out;
  transition: 0.6s all ease-in-out;
  transform-style: preserve-3d;
}
.flipper.flipped {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flipper.flipped .front {
  opacity: 0;
  z-index: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.flipper.flipped .back {
  opacity: 1;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}
.front,
.back {
  -webkit-transition: 0.6s all ease-in-out !important;
  -o-transition: 0.6s all ease-in-out !important;
  transition: 0.6s all ease-in-out !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.front {
  background: #5a6b76;
  z-index: 2;
  -moz-transform: rotateY(0deg) !important;
  -ms-transform: rotateY(0deg) !important;
  -webkit-transform: rotateY(0deg) !important;
  transform: rotateY(0deg) !important;
}
.back {
  z-index: 0;
  text-align: left;
  opacity: 0;
  background: #0a8ec2;
  -moz-transform: rotateY(180deg) !important;
  -ms-transform: rotateY(180deg) !important;
  -webkit-transform: rotateY(180deg) !important;
  transform: rotateY(180deg) !important;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
/* Default
 * No @media query for XL is necessary
 * Default media XL
 * Priority LG and XL
 */
/* Large. Below 75em (1200px) */
/* Medium. Below 62em (992px) */
@media screen and (max-width: 62em) {
  #admin-header {
    height: 50px;
  }
  .company-name {
    width: 180px;
    margin-left: 45px;
    margin-top: 8px;
    font-size: 2.25em;
  }
  .header-search {
    right: 200px;
    left: 200px;
  }
  .header-search .search-form,
  .header-search .search-box-input {
    height: 50px;
  }
  .header-search .search-submit {
    width: 50px;
    height: 50px;
  }
  .header-search .search-submit i {
    line-height: 50px;
  }
  .header-search .search-delete {
    width: 50px;
    height: 50px;
  }
  .header-search .search-delete i {
    line-height: 50px;
  }
  .header-search input[type="text"].search-box-input {
    padding: 1em 50px 1em 4.3em;
  }
  .header-menu li {
    width: 50px;
    height: 50px;
    font-size: 1.3125em;
  }
  .header-menu .nav > li > a {
    line-height: 50px;
  }
  .header-menu .badge {
    top: 5px;
    right: 5px;
    font-size: 0.5em;
  }
  body.out {
    right: -220px;
  }
  body #admin-header {
    left: 0;
  }
  body.out #admin-header {
    left: 220px;
  }
  #sidebar-left.in {
    left: 0;
  }
  .mobile-menu {
    display: block;
  }
  #sidebar-left {
    left: -240px;
    padding-top: 0px;
  }
  #sidebar-connections .widget-header,
  #sidebar-notifications .widget-header {
    height: 50px;
    line-height: 50px;
  }
  #sidebar-connections .widget-header span.close,
  #sidebar-notifications .widget-header span.close {
    height: 50px;
    width: 50px;
  }
  .page-wrapper {
    padding-top: 50px;
  }
  .content-wrapper {
    margin-left: 0;
    padding: 1em;
  }
}
/* Small. Below 48em (768px) */
@media screen and (max-width: 48em) {
  .panel-cube {
    top: 50vw !important;
    left: 47vw !important;
  }
  .table-responsive {
    overflow: visible;
  }
  .table-responsive .dropdown-menu {
    position: static !important;
  }
  #admin-header {
    height: 50px;
  }
  .company-name {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 1.75em;
  }
  .header-search {
    right: 160px;
    left: 160px;
  }
  .header-search .search-submit {
    width: 40px;
    height: 50px;
  }
  .header-search .search-submit i {
    line-height: 50px;
  }
  .header-search .search-delete {
    width: 40px;
    height: 50px;
  }
  .header-search .search-delete i {
    line-height: 50px;
  }
  .header-menu li {
    width: 40px;
    height: 50px;
  }
  .header-menu .nav > li > a {
    line-height: 50px;
  }
  .header-menu {
    right: 0;
  }
  .mobile-menu {
    width: 50px;
    height: 50px;
  }
  .app-header .mobile-toolbar {
    display: block;
  }
  .page-wrapper {
    padding-top: 50px;
  }
  .main-notifications .notification {
    margin-bottom: 1em;
  }
  .main-notifications .notification:last-of-type {
    margin-bottom: 0;
  }
}
/* Xtra Small. Below 34em (544px) */
@media screen and (max-width: 34em) {
  .panel-cube {
    top: 50vw !important;
  }
  .header-search {
    display: none;
  }
  .mobile-search {
    display: block;
    margin-top: 50px;
    height: 40px;
  }
  .mobile-search input[type="text"] {
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 45px;
    padding-right: 15px;
  }
  .mobile-search .search-submit {
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    color: #ffffff;
    background: #5a6b76;
  }
  .mobile-search .search-delete {
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    color: #ffffff;
    background: #5a6b76;
  }
  .mobile-search .search-submit i {
    font-size: 1.125em;
    line-height: 40px;
  }
  .mobile-search .search-delete i {
    font-size: 1.125em;
    line-height: 40px;
  }
  .page-wrapper {
    padding-top: 0;
  }
}
