/* Advanced */

/* personalname */
.element-data-type-personalname:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e971";
    padding-right: 10px;
}
.element-data-type-personalname:after
{
    content: "Name";
}

/* url */
.element-data-type-url:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e911";
    padding-right: 10px;
}
.element-data-type-url:after
{
    content: "URL";
}

/* country */
.element-data-type-country:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e906";
    padding-right: 10px;
}
.element-data-type-country:after
{
    content: "Country";
}

/* File upload */
.element-data-type-file:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e927";
    padding-right: 10px;
}
.element-data-type-file:after
{
    content: "File Upload";
}

/* Array */
.element-data-type-grid:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e923";
    padding-right: 10px;
}
.element-data-type-grid:after
{
    content: "Matrix";
}

/* Image */
.element-data-type-image:before
{
    color: #8c969d;
    font-family: "hubicon";
    content: "\e923";
    padding-right: 10px;
}
.element-data-type-image:after
{
    content: "Image";
}
