@font-face {
  font-family: 'hubicon';
  src:  url('fonts/hubicon.eot?89vd55');
  src:  url('fonts/hubicon.eot?89vd55#iefix') format('embedded-opentype'),
    url('fonts/hubicon.ttf?89vd55') format('truetype'),
    url('fonts/hubicon.woff?89vd55') format('woff'),
    url('fonts/hubicon.svg?89vd55#hubicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="hub-"], [class*=" hub-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hubicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hub-add-form:before {
  content: "\e920";
}
.hub-field-section:before {
  content: "\e921";
}
.hub-field-description:before {
  content: "\e922";
}
.hub-field-matrix:before {
  content: "\e923";
}
.hub-field-dropdown:before {
  content: "\e91c";
}
.hub-field-number:before {
  content: "\e91d";
}
.hub-field-long-answer:before {
  content: "\e91e";
}
.hub-macos:before {
  content: "\e915";
}
.hub-safari:before {
  content: "\e911";
}
.hub-export:before {
  content: "\e914";
}
.hub-resend:before {
  content: "\e912";
}
.hub-project-off:before {
  content: "\e910";
}
.hub-release-note:before {
  content: "\e90f";
}
.hub-team:before {
  content: "\e902";
}
.hub-bulletin:before {
  content: "\e903";
}
.hub-activity:before {
  content: "\e904";
}
.hub-message:before {
  content: "\e905";
}
.hub-hub:before {
  content: "\e906";
}
.hub-notification:before {
  content: "\e907";
}
.hub-chat:before {
  content: "\e900";
}
.hub-connection:before {
  content: "\e901";
}
.hub-field-short-answer:before {
  content: "\e91f";
}
.hub-move:before {
  content: "\e91b";
}
.hub-copy:before {
  content: "\e92c";
}
.hub-field-credit-card:before {
  content: "\e93f";
}
.hub-field-phone:before {
  content: "\e942";
}
.hub-field-address:before {
  content: "\e947";
}
.hub-undo:before {
  content: "\e967";
}
.hub-redo:before {
  content: "\e968";
}
.hub-field-name:before {
  content: "\e971";
}
.hub-logout:before {
  content: "\e9b6";
}
.hub-fav-o:before {
  content: "\e9d7";
}
.hub-fav:before {
  content: "\e9d9";
}
.hub-field-line:before {
  content: "\ea0b";
}
.hub-field-check:before {
  content: "\ea52";
}
.hub-field-check-o:before {
  content: "\ea53";
}
.hub-field-radio-checked:before {
  content: "\ea54";
}
.hub-field-radio-unchecked:before {
  content: "\ea56";
}
.hub-setting:before {
  content: "\e90d";
}
.hub-add:before {
  content: "\e90c";
}
.hub-add-fav:before {
  content: "\e90b";
}
.hub-remove-fav:before {
  content: "\e90a";
}
.hub-field-code:before {
  content: "\e924";
}
.hub-field-event:before {
  content: "\e925";
}
.hub-field-date:before {
  content: "\e926";
}
.hub-field-upload:before {
  content: "\e927";
}
.hub-field-email:before {
  content: "\e928";
}
.hub-next:before {
  content: "\e91a";
}
.hub-last:before {
  content: "\e917";
}
.hub-prev:before {
  content: "\e918";
}
.hub-first:before {
  content: "\e919";
}
.hub-edit:before {
  content: "\e913";
}
.hub-delete:before {
  content: "\e916";
}
.hub-help:before {
  content: "\e90e";
}
.hub-application:before {
  content: "\e909";
}
.hub-business-network:before {
  content: "\e908";
}

